
@model int

<dvi class="d-grid gap-2 d-md-block">
    <button type="submit" class="btn btn-primary" asp-route-id="@Model"><i class="bi bi-plus-square-fill"></i>Actualizar</button>
        <a asp-action="Index" class="btn btn-success"><i class="bi bi-plus-arrow-return-left"></i>Regresar</a>
</dvi>
